@import "tailwindcss";

@theme {
  --font-sans: "Work Sans Variable", "sans-serif";
  /* --font-ja: "Noto Sans JP Variable", sans-serif; */
  --darkikonoart: rgb(80, 63, 90);
  --verydarkikonoart: rgb(43, 36, 51);
  --container-8xl: 96rem;
}

@layer base {
  body {
    @apply font-sans font-light text-base/7;
  }
  input,
  textarea,
  select {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black focus:border-transparent;
  }
  /* [lang="ja"] body {
    @apply font-ja;
  } */
}

@layer components {
  .main-container {
    @apply py-8 px-4 max-w-8xl mx-auto;
  }
  .splide__arrow {
    @apply !bg-transparent;
  }
  .page-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply my-3;
    }
    h1,
    h2 {
      @apply text-4xl font-medium;
    }
    h3 {
      @apply text-2xl font-medium;
    }
    h4 {
      @apply text-xl font-medium;
    }
    p {
      @apply pb-3;
    }
  }
}
