---
export const prerender = true;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <meta name="robots" content="noindex" />
  </head>
  <body></body>
</html>